/**
 * @file
 * Styles for Personalize administrative interfaces.
 */

/* For submit buttons to appear as add action link.
* @todo would much rather use action-link style from theme instead but it is
* specific to "ul.action-links a" selector in Ember and we need a submit button.
*/
input[type="submit"].personalize-add-link {
  background: transparent;
  border: none;
  color: #0074BD;
  font-size: .75em;
  padding: 0;
  margin: 0 0 0 0.3em;
  line-height: 30px;
}
input[type="submit"].personalize-add-link:hover {
  text-decoration: underline;
  background: transparent;
  color: #0074BD;
}
/* The + before the Add Goals button */
#personalize-agent-goals-form .personalize-admin-content-header:not(input) {
  color: #0074BD;
  font-size: 1.3em;
  display: inline-block;
}

/**
 * Content sets
 */
@media screen and (min-width: 44em) {
  .personalize-admin-primary,
  .personalize-admin-secondary {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49%;
    min-height: 4em;
  }

  .personalize-admin-primary {
    margin-right: 2%;
  }
}

html.js .personalize-collapsed .personalize-admin-content-content {
  height: 0;
  overflow: hidden;
}

.personalize-admin-content-content .personalize-admin-content-title .personalize-admin-enumerated-item,
.personalize-admin-content-content fieldset .fieldset-title .personalize-admin-enumerated-item {
  display: inline;
}

#personalize-agent-page-messages .personalize-alert {
  font-weight: bold;
  color: red;
}

.personalize-admin-optional {
  color: #999;
}
.personalize-admin-optional-trigger {
  margin-left: 0.4em;
}

.personalize-admin-content-title {
  cursor: pointer;
}

.personalize-admin-content-title-suffix,
.personalize-admin-content-title-suffix div,
#personalize-agent-form #personalize-status-toggle-form,
#personalize-agent-form #personalize-status-toggle-form div{
  display: inline;
}
