
/**
 * Content sets
 */
.personalize-admin-section {
  width: 100%;
}

.personalize-admin-content {
  margin: 1em 0;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
}

.personalize-admin-content.personalize-collapsed {
  border: none;
}

/**
 * Avoid boxes within boxes
 */
.personalize-admin-content fieldset,
.personalize-admin-content .personalize-admin-content{
  border: none;
}

.personalize-admin-content-title,
.personalize-admin-content-item-title {
  margin: 0;
}

.personalize-admin-content-title {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 0.4em; /* LTR */
}

.personalize-content-set-item-title {
  font-size: 1em;
}

.personalize-content-set-title {
  display: inline-block;
  margin-right: 1em; /* LTR */
}

.personalize-content-set-item {
  border-top: 1px solid #ccc;
  margin-bottom: 1em;
  padding-top: 1em;
}

.personalize-content-set-item:first-child {
  border-top: none;
}

.personalize-content-set-item:last-child {
  margin-bottom: 0;
}

.personalize-variation-count {
  margin-left: 1em; /* LTR */
}

.personalize-admin-section .personalize-collapse-edit {
  background-image: url("../images/edit_active.png");
  background-image: url("../images/edit_active.svg"), none; /* Displays SVG with PNG fallback */
  width: 24px;
  height: 24px;
  display: inline-block;
  text-indent: -999px;
  cursor: pointer;
  margin-right: 5px; /* LTR */
}
.personalize-admin-section .personalize-collapsed .personalize-collapse-edit {
  background-image: url("../images/edit.png");
  background-image: url("../images/edit.svg"), none;
}

.personalize-admin-content-title-secondary {
    display: inline;
    margin-left: 25px;
}

.personalize-admin-content-collapsed-wrapper {
  margin: 0 0 2em 0;
}

.personalize-admin-content-collapsed-wrapper:first-child {
  margin-top: 1em;
}

.personalize-admin-content-content,
.personalize-admin-content-collapsed {
  padding-left: 29px; /* LTR */
}

.personalize-admin-content-collapsed {
  display: none;
}

.personalize-collapsed .personalize-admin-content-collapsed {
  display: block;
}

.personalize-content-variation-stopped {
  color: #999;
}
.personalize-content-variation .form-type-radio {
  float: right;
}
.personalize-content-variation .form-type-radio label {
  color: #000;
  margin-right: 5px;
  vertical-align: bottom;
  display: inline;
  font-weight: normal;
}
.personalize-content-variation-winner .form-type-radio label {
  color: #0074BD;
  font-weight: bold;
}

#personalize-agent-option-sets-form .personalize-ctools-dropdown,
#personalize-agent-option-sets-form .personalize-ctools-dropdown .ctools-dropdown-link-wrapper,
#personalize-agent-option-sets-form .personalize-ctools-dropdown .ctools-dropdown-container-wrapper {
  display: inline;
}

#personalize-agent-option-sets-form .personalize-ctools-dropdown {
  margin-right: 15px;
}
#personalize-agent-option-sets-form .personalize-ctools-dropdown .ctools-dropdown-container-wrapper {
  position: relative;
  display: inline-block;
}
#personalize-agent-option-sets-form .personalize-ctools-dropdown .ctools-dropdown-container-wrapper .ctools-dropdown-container {
  left: -5em;
}
