/**
 * @file
 * Styles for Personalize administrative interfaces.
 */

/** 
 * All 
*/
.personalize-goal .form-item label,
.personalize-admin-content-content .form-item label {
  margin: 0;
}

/**
 * Goals
 */
.personalize-goals-wrapper {
  margin-bottom: 1.4em;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;    
  transition: all 1s ease-in-out;
}

.personalize-goal .form-item {
  display: inline-block;
  margin-right: .25em;
  padding: 0;
  vertical-align: bottom;
}

.personalize-goal-triggers {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 9px;
}

/* For submit buttons to appear as add action link.
* @todo would much rather use action-link style from theme instead but it is
* specific to "ul.action-links a" selector in Ember and we need a submit button.
*/
input[type="submit"].personalize-add-link { /* moved color to theme.css -KO */
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  height: 2em;
  line-height: 2em;
}
input[type="submit"].personalize-add-link:hover { /* moved color and text decoration to theme.css -KO */
  background: transparent;
}
/* The + before the Add Goals button */
/* Link look alike styling for add a goal button */
.personalize-add-link-prefix:after {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: .2em;
}
/* smaller to align with text fields.
 * @todo would much rather have these simply be "x" icons -KO. 
*/
button.personalize-delete-goal {
  padding-top: .5em;
  padding-bottom: .5em;
  margin-left: 0;
  vertical-align: bottom;
}

/**
 * Content sets
 */
@media screen and (min-width: 44em) {
  .personalize-admin-primary,
  .personalize-admin-secondary {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49%;
    min-height: 4em;
  }

  .personalize-admin-primary {
    margin-right: 2%;
  }
}

/**
 * Content variation tabular layout
 */
.personalize-content-variation:first-child {
  border-top: #ccc 1px solid;
}
.personalize-content-variation {
  border-bottom: #ccc 1px solid;
  margin: 1em 0;
  padding: 1em 0 .4em 0;
}
/** Trick to allow fieldset not to grow beyond 100% when contents are wide. */
#personalize-agent-option-sets-form fieldset.personalize-option-set {
  min-width: 0;
  display: table-cell;
}
#personalize-agent-option-sets-form fieldset.personalize-option-set,
#personalize-agent-option-sets-form fieldset.personalize-option-set legend,
#personalize-agent-option-sets-form fieldset.personalize-option-set .fieldset-legend {
  width: 100%;
  display: block;
}

#personalize-agent-option-sets-form fieldset.personalize-option-set .fieldset-legend {
  min-height: 1em;
}

#personalize-agent-goals-form fieldset.personalize-goal .fieldset-legend,
#personalize-agent-option-sets-form fieldset.personalize-option-set.collapsed .fieldset-legend {
  background-position: .5em .5em;
}
#personalize-agent-option-sets-form fieldset.personalize-option-set legend .fieldset-title {
  display: inline-block;
  width: 60%;
  position: absolute;
}
#personalize-agent-option-sets-form fieldset.personalize-option-set legend .fieldset-title div.personalize-admin-enumerated-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
#personalize-agent-option-sets-form fieldset.personalize-option-set .fieldset-legend span.summary {
  display: none;
}
#personalize-agent-option-sets-form fieldset.personalize-option-set.collapsed .fieldset-legend span.summary {
  font-weight: normal;
  display: inline-block;
  position: absolute;
  right: 1em;
  font-size: 1rem;
}
#personalize-agent-option-sets-form fieldset.personalize-option-set .fieldset-legend span.summary div {
  display: inline-block; /* changed to inline-block-KO */
}
#personalize-agent-option-sets-form fieldset.personalize-option-set .fieldset-legend span.summary .personalize-option-header-item,
#personalize-agent-option-sets-form fieldset.personalize-option-set .fieldset-legend span.summary .personalize-stat {
  border-right: 1px solid;
  margin-right: .5em;
  padding-right: .5em;
}
#personalize-agent-option-sets-form fieldset.personalize-option-set .fieldset-legend span.summary .personalize-option-header-item:last-child {
  border-right: none;
}
.personalize-variation-row {
  clear: both;
  margin-bottom: 1em;
  width: 100%;
}
.personalize-variation-row div {
  float: left;
}
.personalize-variation-row div.personalize-variation-col1 {
  width: 60%
}
.personalize-variation-row div.personalize-variation-col2,
.personalize-variation-row div.personalize-variation-col3 {
  width: 15%;
  text-align: center;
}
.personalize-variation-row div.personalize-variation-col4 {
  width: 10%;
  text-align: center;
}

.personalize-variation-row input.personalize-variation-control,
.personalize-variation-row input.personalize-variation-winner {
  display: inline-block;
  visibility: hidden;
}
.personalize-variation-row div.personalize-variation-winner.personalize-edit input.personalize-variation-winner {
  visibility: visible;
}
.personalize-variation-row div.personalize-variation-selected-control,
.personalize-variation-row div.personalize-variation-selected-winner {
  background-image: url('../images/check_8AC340.png');
  background-image: url('../images/check_8AC340.svg'), none;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.2em;
}

.personalize-variation-row div.personalize-variation-selected-winner.personalize-edit {
  background: none;
}

/* Truncate content variation title */
.personalize-content-variation .personalize-admin-enumerated-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
  max-width: 60%;
}

/*
 * Collapsible content
 */
html.js .personalize-collapsed .personalize-admin-content-content {
  height: 0;
  overflow: hidden;
}

.personalize-admin-content-content .personalize-admin-content-title .personalize-admin-enumerated-item,
.personalize-admin-content-content fieldset .fieldset-title .personalize-admin-enumerated-item {
  display: block; 
}

#personalize-agent-page-messages .personalize-alert {
  font-weight: bold;
  color: red;
}

.personalize-admin-optional {
  color: #999;
}
.personalize-admin-optional-trigger {
  margin-left: 0.4em;
}

.personalize-admin-content-title {
  cursor: pointer;
}

.personalize-admin-content-title-suffix,
.personalize-admin-content-title-suffix div,
#personalize-agent-form #personalize-status-toggle-form,
#personalize-agent-form #personalize-status-toggle-form div {
  display: inline-block; /* changed to inline-block-KO */
  vertical-align: middle; /* added this attribute -KO */
}

